.become-partner__image {
  background-image: url(../images/partner-signup@2x.png);
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.become-partner__details {
  p {
    font-size: 17px;
  }
}
