.footer-wrapper {
  position: relative;

  .container {
    margin-top:75px;
    & .row {
      & .col-3:first-child {
        margin-left: auto;
      }
    }
  }

  legend {
    margin-top: 20px;
    color: #a4aeb3;
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .feedback-banner {
    h2 {
      display: none !important;
    }
  }

  .corner-ribbon-bounds {
    display: none;
  }
  .footer-wrapper {
    display: none;
  }
}
