---
title: Loona Portal

primary_cards:
  - name: Инструкция Пользования
    blurb: Документация пользовия кабинетом и системой Loona.
    url: /guides/loona-guide.html
    background_color: "#5784f7"

  - name: Интеграции
    blurb: Документация интеграций со сторонними системами и мобильными приложениями.
    url: /guides/integration.html
    background_color: "#5bb4f9"

  - name: API
    blurb: API документация.
    url: /api.html
    background_color: "#80dce2"

search: true
home: true
---
  <div class="row index-page__section">
    <div class="card-list">
      <% current_page.data.primary_cards.each do |study| %>
        <div class="study-card my-2 secondary-card">
          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="<%=study.url%>" class="btn btn-big btn-primary card__sticky-button" >
              Read More
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <div class="col-md-1">
    </div>
    <div class="col-md-3 become-partner__image">
    </div>
    <div class="col-md-7 become-partner__details">
      <h1> Sign up for your cabinet account! </h1>
      <p> Start using Loona and communicate with your customer network to improve your business succeess </p>
      <a href="https://cabinet.loona.ai/cabinet-registration" target="blank_" class="btn btn-big btn-primary" >
        Register
      </a>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
